<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Exchange</title>
</head>
<body>
    <h1>Item Exchange</h1>
    <p>This is a website where you can exchange items with other people.</p>
    <p>To get started, create an account and add some items that you're willing to exchange.</p>
    <p>You can then search for items that you're interested in and send exchange requests to other users.</p>
    <p>If someone accepts your exchange request, you can arrange to meet and exchange the items.</p>
    <a href="/login">Login</a>
    <a href="/register">Register</a>


    {% block content %}
        <h1>Items Up for Exchange</h1>
        <ul>
            {% for item in items %}
            <div class="container">
                <h1>Item</h1>
            
                <table class="table">
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <td>{{ item.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ item.name }}</td>
                        </tr>
                        <tr>
                            <th>User Name</th>
                            <td>{{ item.user_name}}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ item.email}}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ item.description }}</td>
                        </tr>
                        <tr>
                            <th>Image URL</th>
                            <td>{{ item.image_url }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </ul>
    {% endblock %}
</body>
</html>