{% block content %}
        <h1>Item Up for Exchange</h1>
        <ul>
            <div class="container">
                <h1>Item</h1>
            
                <table class="table">
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <td>{{ item.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ item.name }}</td>
                        </tr>
                        <tr>
                            <th>User Name</th>
                            <td>{{ item.user_name}}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ item.email}}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ item.description }}</td>
                        </tr>
                        <tr>
                            <th>Image URL</th>
                            <td>{{ item.image_url }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ul>
    {% endblock %}