{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row header-profile">
    <div class="col-4 d-flex justify-content-center p-4 border border-4 border-dark border-end-0">
      <i class="profile bi bi-person-circle" style="font-size: 10rem"></i>
    </div>
    <div class="col-8 d-flex flex-column justify-content-between p-4 border border-4 border-dark">
      <div class="fw-bolder fs-3">{{user.name}}</div>
      <div>{{user.email}}</div>
      <div>address</div>
      <div>
        <button type="button" class="btn">Button</button>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}